    <style>
        html{margin:0px;padding:0px;width:320px;height:319px;}
        body{margin:0px;padding:0px;width:320px;height:319px;}
        .store7{
            width:100%;
            height:319px;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            border:solid 1px #000;
            overflow:hidden;
            font-family:"kaiu";
        }
        .store7 .note{text-align:center;font-size:9pt;height:14pt;margin-top:9px;font-weight:bold;}
        .store7 .customer{text-align:center;font-size:24pt;height:26pt;margin-top:2px;font-weight:bold;}
        .store7 .store_number{text-align:center;font-size:16pt;height:20pt;margin-top:4px;font-weight:bold;}
        .store7 .store_number span{font-family:"arial";}
        .store7 .store_name{text-align:center;font-size:16pt;height:16pt;margin-top:0;font-weight:bold;}
        .store7 .codeimg barcode{width:0.9cm;height:4.5cm;margin-top:12px;}
        .store7 .codeimg{text-align:center; height:32.4px;}
        .store7 .code128{text-align:center;font-size:12pt;height:16pt;font-family:"arial";margin-bottom:2.5px;}
        .store7 .order{font-size:12pt;text-align:center;margin-top:2px;}
    </style>
    <div id="printdata" class="store7">
        <div class="note">
            ※@data_note※
        </div>
        <div class="customer">
            提貨人：@data_name
        </div>
        <div class="store_number">
            配送編號：<span>@data_store_id</span>
        </div>
        <div class="store_name">
            門市：@data_store_name
        </div>
        <div class="codeimg">
            <barcode dimension="1D" type="C128" value="@data_chars_content" label="none"></barcode>
        </div>
        <div class="code128">
            @data_chars_content
        </div>
        <div class="order">門市進貨日：@data_ShipDate</div>
        <div class="order">門市退貨日：@data_ReturnDate</div>
        <div class="order">廠商訂單編號：@data_order_id</div>
        <div class="order">廠商名稱：常春藤網路書城</div>
        <div class="order">客服專線：02-2331-7600 #10 - 13</div>
        <div class="order">網址：https://www.ivy.com.tw/</div>
    </div>
