<style>
    * {
        /*font-weight:bold;*/
        font-family:"kaiu";
    }
    .area {
        width: 100%;
        /*width: 8cm;*/
        /*height: 12.5cm;*/
        height: 125mm;
        overflow: hidden;
    }
    .area1 {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 30mm;
        border: 1px dashed #333;
        border-bottom: none;
        overflow: hidden;
    }
    .area2 {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 35mm;
        border: 1px solid #333;
        overflow: hidden;
    }
    .area3 {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 65mm;
        border: 2px solid #333;
        overflow: hidden;
    }
    .area1-1 {
        height: 15mm;
    }
    .area1-2 {
        height: 15mm;
        padding-left: 10px;
    }

    .area1-2-1 {
        width: 200px;
        display: inline-block;
    }
    .area1-2-2 {
        display: inline-block;
        margin-top: 10px;
    }
    .area2-1-1 {
        padding: 5px;
        display: inline-block;
        width: 50px;
    }
    .area2-1-2 {
        border: 2px solid #333;
        font-size: 26px;
        display: inline-block;
        width: 30px;
        padding: 0px 8px;
        height: 30px;
    }
    .area2-1-3 {
        font-size: 26px;
        display: inline-block;
        width: 40px;
    }
    .box {
        border: 1px solid #333;
        padding:2px 5px;
        width: 100%;
    }
    .black {
        background-color: #000;
        color: #FFF;
    }
    .orderid {
        font-size: 12px;
    }
/*    .area1-1,.area1-2 {
        height: 50%;
    }*/
</style>
<div class="area">
    <div class="area1">
        <div class="area1-1"></div>
        <div class="area1-2">
            <table>
                <tr>
                    <td width='130'>
                        <barcode dimension="1D" type="C128" value="@data_barcode3" label="none" style="width:36mm;height:9mm;"></barcode><br>
                        <div style="text-align: center;">@data_barcode3</div>
                    </td>
                    <td width='45'></td>
                    <td>
                        <div class="orderid" style="padding-top: 20px;">進店：@data_ShipDate</div>
                        <div class="orderid">退貨：@data_ReturnDate</div>                          
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="area2">
        <div class="area2-1">
            <table>
                <tr>
                    <td width="180" >
                        <div class="orderid" style="padding-top: 3px; padding-left: 5px;">店配訂單編號：@data_store_id</div>
                        <div class="orderid" style="padding-left: 5px;">廠商訂單編號：@data_order_id</div>
                    </td>
                    <td width="60"><div class="area2-1-2">@data_area</div></td>
                    <td>
                        <div class="area2-1-3" style="padding-top: 2px;">@data_store_company</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="area2-2">
            <table>
                <tr>
                    <td width="80" rowspan="4"><qrcode value="@data_qr_content" ec="M" style="width: 20mm; background-color: white; color: black; border: none;padding: 0;margin: 0;"></qrcode></td>
                    <td width="50" colspan="2"><div class="box" style="font-weight: bold;width: 25mm;padding: 2px 0;text-align: center;">@data_EQPID</div></td>
                    <td width="100" rowspan="2"><barcode dimension="1D" type="C128" value="@data_RSNO" label="none" style="width:20mm;height:13mm;"></barcode></td>
                </tr>
                <tr>
                    <td width="50" colspan="2"><div class="box" style="font-weight: bold;width: 25mm;padding: 2px 0;text-align: center;">@data_RSNO</div></td>
                </tr>
                <tr>
                    <td width="10"><div class="box" style="width: 5mm;text-align: center;font-size: 12px;">@data_EC</div></td>
                    <td width="80" colspan="2" style="font-size: 12px;">@data_note2</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="area3">
        <table>
            <tr>
                <td width="30" rowspan="5" style="border-right: 1px dashed #333;line-height: 40px;font-size: 20px;font-weight: bold;padding-top: 30px;height: 40mm;text-align: center;">取<br>件<br>專<br>用</td>
                <td width="80"><div class="box black" style="font-size: 18px;font-weight: bold;width: 40mm;padding: 8px 0;text-align: center;">常春藤</div></td>
                <td width="40" style="font-size: 18px;font-weight: bold;padding-top: 12px;">@data_note1</td>
            </tr>
            <tr>
                <td width="80"><div class="box" style="font-size: 18px;font-weight: bold;width: 40mm;padding: 8px 0;text-align: center;">@data_name</div></td>
                <td width="40"><div class="box black" style="font-size: 14px;width: 25mm;padding: 1px 0;text-align: center;line-height: 18px;"><span style="font-size: 10px;">手機末三碼</span><br>@data_mobile</div></td>
            </tr>
            <tr>
                <td width="120" align="center" colspan="2">@data_store_name</td>
            </tr>
            <tr>
                <td width="120" align="center" colspan="2">
                    <barcode dimension="1D" type="C128" value="@data_barcode1" label="none" style="width:36mm;height:8mm;"></barcode><br>
                    <div style="text-align: center;margin-left: -250px;">@data_barcode1</div>
                </td>
            </tr>
            <tr>
                <td width="120" align="center" colspan="2">
                    <barcode dimension="1D" type="C128" value="@data_barcode2" label="none" style="width:36mm;height:8mm;"></barcode><br>
                    <div style="text-align: center;margin-left: -250px;">@data_barcode2</div>
                </td>
            </tr>

        </table>

    </div>
</div>